@import "@/styles/variables";

.badge {
    background-color: $purple-10;
    display: block;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 40px;
    color: $purple-30;
    font-weight: 600;
    margin-inline: auto;
    margin-bottom: 16px;
}