// colors
$white-20: #F8F7F5;
$white-10: #FAFAFA;

$black-20: #282F37;
$black-10: #676767;

$purple-30: #6C56C2;
$purple-20: #B0ADFE;
$purple-10: #E7E5FD;

$pink-30: #FE7191;

// type
$font: 'Inter', sans-serif;
