@import "@/styles/variables";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 48px 0;
}

.content {

    p {
        margin: 24px 0;
        font-size: 18px;
        line-height: 1.8rem;
        font-weight: 500;
        color: $black-10;
    }
}